* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;

}

body {
    background-color: black;
    color: azure;
    overflow-x: hidden;
    /* overflow-y: ; */
}

.upper {

    display: flex;
    color: antiquewhite;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.upper ul{
    list-style: none;
    display: flex;
    gap: 20px;
}

.upper ul a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

h1 {
    margin: 4px;
    color: red;
}

.navigationbar {
    margin: 1px;
    display: flex;
    width: 99vw;
    justify-content: space-between;
    background-color: black;

}

nav ul {
    display: flex;
    /* justify-content: center;
    align-items: center; */


}
.upper h1:hover{
cursor: pointer;
color: rgb(185, 39, 39);
}

.upper h1:active{
color:rgb(241, 10, 10) ;
    
}
nav ul li {
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 10px;

}
.upper ul li a:hover{

color: rgb(230, 22, 22);
border-radius: 25px;

}

.trend {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: large;
}

.trend p{
    margin: 7.5px;
}

nav ul li a {
    text-decoration: none;
    color: aliceblue;

}



.profile img {
    display: flex;
    width: 2vw;
    height: 4vh;
    border-radius: 100%;
    /* align-items: center;
justify-content: center; */
}


.mid {
    height: 69vh;
    background-image: url(venti-views-lI7dlA5VBp8-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.mid h2{
  animation-name: changecolor;
 animation-iteration-count:5 ;
 animation-duration: 2s;
 animation-timing-function: linear;


}




@keyframes changecolor {
   from{
    opacity: 0.1;
    color: red;
    font-size: medium;
    margin-left:-100% ;
   }
   to{
    opacity: 1.5;
    font-size:xx-large;
    margin-left: 0%;
   }
   

}

.play {
    background-color: red;
    width: 70px;
    height: 25px;
    border: 2px solid black;
border-radius: 100px;
color: white;
}
.my-list{
    background-color: red;
    width: 70px;
    height: 25px;
    border: 2px solid black;
border-radius: 100px;
    color: white;
}

.my-list:hover  , .play:hover{
background-color: rgb(241, 33, 33);
cursor: pointer;
}

.my-list:active  , .play:active{

    background-color: rgb(168, 6, 6);

}


.lower {
    /* height: 20vh; */
    display: flex;
    background-color: black;
    display: flex;
    overflow-y:visible;
    overflow-x:scroll;
    
}

.lower img {
    display: flex;
    padding: 5px;
    border-radius: 15px;
    border: 2px solid black;
    width: 25vw;
    height: 400px;
    display: flex;
    
}
